body{
  background:#f4f6fa;
  font-family: system-ui;
}

.profile-container{
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.profile-header{
  display: flex;
  align-items: center;
  gap: 20px;
  background: white;
  padding: 20px;
  border-radius: 15px;
}

.avatar{
  width: 100px;
  height: 100px;
  background: #ccc;
  border-radius: 50%;
}

.progress{
  color: green;
  font-weight: 600;
}

.profile-section{
  background: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
}

.profile-section h3{
  margin-bottom: 10px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
}

input, textarea{
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

textarea{
  width: 100%;
  height: 80px;
}

.save-btn{
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #1f3c88;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
