*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    background-color: #4578b1;
    height: 80px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 50px;
    width: 150px;
    background-image: url("hirepath_logo.png");
    background-size: cover;
}
.nav-items{
    display: flex;
    flex-direction: row-reverse;
    position: static;
}
.home{
    color: white;
    font-size: 30px;
    margin: 10px;
}
.bell{
    color: white;
    font-size: 30px;
    margin: 10px;
}
.events{
    color: white;
    font-size: 30px;
    margin: 10px;
}
.profile{
    color: white;
    font-size: 30px;
    margin: 10px;
}
.border:hover{
    border: 1.5px solid white;
}
.profile-container{
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
.profile-header{
  display: flex;
  align-items: center;
  gap: 20px;
  background: rgb(243, 243, 198);
  padding: 20px;
  border-radius: 15px;
}
.avatar{
  width: 100px;
  height: 100px;
  background: #ccc;
  border-radius: 50%;
}
.progress{
  color: green;
  font-weight: 600;
}

.profile-section{
  background: rgb(193, 255, 234);
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
}
.profile-section:hover{
    transform: translateY(-5px);
    transition: 0.3s ease;
    border: 2px solid black;
}
.profile-section h3{
  margin-bottom: 15px;
  margin-top: 0px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
}
input, textarea{
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
textarea{
  width: 100%;
  height: 80px;
}
.save-btn{
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
.save-btn:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    font-weight: 700;
}
.file{
    border: 1px solid black;
}