.body{
    height: 150vh;
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    background-color: #4578b1;
    height: 80px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    height: 50px;
    width: 150px;
    background-image: url("hirepath_logo.png");
    background-size: cover;
}
.nav-items{
    display: flex;
    flex-direction: row-reverse;
    position: static;
}
.home{
    color: white;
    font-size: 30px;
    margin: 10px;
}
.bell{
    color: white;
    font-size: 30px;
    margin: 10px;
}
.events{
    color: white;
    font-size: 30px;
    margin: 10px;
}
.profile{
    color: white;
    font-size: 30px;
    margin: 10px;
}
.border:hover{
    border: 1.5px solid white;
}
.reg-form{
    background-color:rgb(220, 255, 255) ;
    width: 32vw;
    height: 136vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
label {
    font-weight: bold;
    margin-top: 8px;
    margin: 5px;
    display: block;
}

input, select {
    width: 30vw;
    padding: 4px;
    margin: 5px;
}
.hint{
    margin: 2.5px;
}
/* Role radio buttons */
.role-group {
    display: flex;
    gap: 30px;
    margin-top: 8px;
}

.option {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: normal;
    cursor: pointer;
}

/* Checkbox */
.checkbox-option {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
    font-weight: normal;
}

/* Prevent inputs from stretching */
.option input,
.checkbox-option input {
    width: auto;
    margin: 0;
}
#dark{
    font-weight: 700;
    text-align: center;
}
.login-link{
    text-align: center;
}
.button{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0 15px 0;
    font-size: 14px;
    width: 100vw;
}