*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    background-color: #4578b1;
    height: 80px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 50px;
    width: 150px;
    background-image: url("hirepath_logo.png");
    background-size: cover;
}
.nav-items{
    display: flex;
    flex-direction: row-reverse;
    position: static;
}
.home{
    color: white;
    font-size: 30px;
    margin: 10px;
}
.bell{
    color: white;
    font-size: 30px;
    margin: 10px;
}
.events{
    color: white;
    font-size: 30px;
    margin: 10px;
}
.profile{
    color: white;
    font-size: 30px;
    margin: 10px;
}
.border:hover{
    border: 1.5px solid white;
}
.signreg{
    display: flex;
}
.sign-in{
    height: 30px;
    width: 80px;
    background-color: rgba(255, 255, 1, 0.872);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 15px;
    margin: 5px;
}
.sign-in:hover{
    border: 2px solid black;
}
.register{
    height: 30px;
    width: 140px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 15px;
    margin: 5px;
}
.register:hover{
    border: 2px solid white;
}
.button1{
    text-decoration: none;
    color: black;
}
.button2{
    text-decoration: none;
    color: white;
}
.box1{
    height:55vh;
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color:rgb(243, 243, 198);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tagline{
    font-size: 44px;
    font-weight: 700;
    margin: 20px;
}
.explain{
    font-size: 20px;
    margin-top: 45px;
}
.box2{
    height: 460px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}
.student{
    background-color: rgb(246, 212, 255);
    height: 440px;
    width: 450px;
    margin: 20px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stu-button{
    height: 30px;
    font-size: 16px;
    width: 135px;
    color: black;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-top: 35px;
}
.stu-features{
    font-size: 18px;
    text-align: center;
}
.college{
    background-color: rgb(246, 212, 255);
    height: 440px;
    width: 450px;
    margin: 20px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coll-features{
    font-size: 18px;
    text-align: center;
}
.coll-button{
    height: 30px;
    font-size: 16px;
    width: 180px;
    color: black;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-top: 35px;
}
.effect1:hover{
    border: 2px solid black;
}
.stuicon{
    height: 95px;
    width: 95px;
    border-radius: 50%;
    margin-top: 20px;;
    background-image: url("stuicon.png");
    background-size: cover;
}
.collicon{
    height: 95px;
    width: 95px;
    border-radius: 50%;
    margin-top: 20px;
    background-image: url("collicon.png");
    background-size: contain;
}
.head-icon{
    font-size: 18px;
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 14px;
    padding: 4px;
}
.features{
    height: 180px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
.head-feat{
    background-color: rgb(243, 243, 198);
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    width: 100vw;
}
.febox{
    width: 250px;
    height: 200px;
    border-radius: 25px;
    background-color: rgb(193, 255, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}
.feat-icon{
    font-size: 50px;
    margin: 5px;
    border-radius: 50%;
    background-size: cover;
}
.fehead{
    font-size: 18px;
    font-weight: 700;
    margin: 5px;
    margin-bottom: 10px;
}
.fetext{
    font-size: 15px;
    text-align: center;
}
.working{
    background-color:rgb(243, 243, 198);
    color: black;
    width: 100vw;
    padding: 3vw;
    height: 520px;
}
.work-head{
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}
.work-flow{
    display: flex;
    font-size: large;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.why{
    background-color: white;
    padding: 40px 0;
    text-align: center;
}
.why h2{
    font-size: 36px;
    margin-bottom: 25px;
}
.why-grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.why-card{
    background-color: #f1f1f1;
    padding: 20px;
    width: 220px;
    margin: 10px;
    border-radius: 15px;
    font-weight: 600;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0 15px 0;
    font-size: 14px;
    width: 100vw;
}
.febox:hover, .student:hover, .college:hover{
    transform: translateY(-5px);
    transition: 0.3s ease;
}

